window {
  background-color: rgba(9, 9, 9, 0.95);
  border-radius: 0px;
  border: 2px solid #343434;
  padding: 20px;
}

#container {
  background-color: transparent;
}

progressbar {
  background-color: #343434;
  border-radius: 0px;
  min-height: 8px;
}

progress {
  background-color: #e6cc4d;
  border-radius: 0px;
}

trough {
  background-color: #343434;
  border-radius: 0px;
}

label {
  color: #dcfce7;
  font-size: 14px;
  font-weight: normal;
}

image {
  color: #e6e2e1;
}
