[Unit]
Description=EasyEffects Audio Effects
After=pipewire.service
BindsTo=pipewire.service

[Service]
Type=dbus
BusName=com.github.wwmm.easyeffects
ExecStart=/usr/bin/easyeffects --gapplication-service
Restart=on-failure
Environment="VK_ICD_FILENAMES=/usr/share/vulkan/icd.d/asahi_icd.aarch64.json"

[Install]
WantedBy=pipewire.service
