[Unit]
Description=Figma Agent for Linux
Wants=network-online.target
After=network-online.target

[Service]
Type=exec
ExecStart=/home/go/.local/bin/figma-agent

[Install]
WantedBy=default.target
