[Desktop Entry]
Version=1.0
Name=Messenger
Comment=Facebook Messenger - Chat with friends
Exec=$HOME/.local/bin/messenger-chromium
Terminal=false
Type=Application
Icon=/home/gogo/.local/share/applications/icons/Messenger.png
Categories=Network;InstantMessaging;
StartupNotify=true
StartupWMClass=chromium
