[Desktop Entry]
Version=1.0
Name=Nord VPN
Comment=Nord VPN
Exec=/home/gogo/.local/bin/nordvpn-tui
Terminal=false
Type=Application
Icon=/home/gogo/.local/share/applications/icons/Nord VPN.png
StartupNotify=true
